@tailwind base;

@font-face {
    font-family: 'plex-mono';
    src: url('/fonts/plex.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    /*COLORS*/
    @apply bg-base1 text-current;
    font-family: 'plex-mono', 'Courier New', Courier, monospace;
}

.filler {
    @apply text-base3;
}

header {
    @apply justify-center text-center
}

header h1 {
    @apply font-bold text-primary text-5xl
}

nav {
    @apply relative left-1/2 -translate-x-1/2 mt-4 overflow-hidden;
    @apply md:w-1/2 w-11/12 flex justify-evenly bg-primary text-base1 font-bold rounded-lg;
}

nav a {
    @apply w-full font-bold;
}

nav a::selection {
    @apply bg-terciary;
}

footer {
    @apply text-center text-terciary;
    @apply mb-8;
}

.index-about {
    @apply relative md:w-3/4 left-1/2 -translate-x-1/2 pb-10;
}
.index-about h1 {
    @apply text-center text-3xl mb-6;
}

.index-about p {
    @apply text-center;
}

.welcome {
    @apply mt-4 text-center;
    @apply relative left-1/2 -translate-x-1/2 w-3/4;
}

.welcome h2 {
    @apply text-3xl;
}

.home-posts {
    @apply mt-4 mb-4 text-center;
}

.home-posts a {
    @apply bg-terciary text-base1;
}

.home-posts h2 {
    @apply text-3xl;
}

.header {
    @apply text-secondary mb-12;
}

article {
    @apply relative -translate-x-1/2 left-1/2 md:w-3/4 w-11/12 mt-8;
}

article .title {
    @apply text-5xl;
}

article .body {
    @apply text-justify;
}

article .body p {
    @apply mb-4;
}
.list-post {
    @apply mb-4;
}
.list-post a {
    @apply relative text-lg w-24;
}

.post-list {
    @apply relative w-screen text-center -translate-x-1/2 left-1/2;
}

.center {
    @apply w-full text-center text-secondary font-bold text-lg my-4;
}
