@tailwind base;

@font-face {
    font-family: 'plex-mono';
    src: url('../../IFF-depressao/fonts/plex.ttf') format('truetype');
    /*src: url('fonts/plex.ttf');*/ 
    font-weight: normal;
    font-style: normal;
}

body {
    /*COLORS*/
    @apply bg-base1 text-current;
    @apply select-none;
    font-family: 'plex-mono', 'Courier New', Courier, monospace;
}

.filler {
    overflow: hidden;
    @apply text-base3 relative;
}

a {
    @apply text-secondary;
}

a:hover {
    @apply underline;
}

header {
    @apply justify-center text-center
}

header h1 {
    @apply font-bold text-primary text-5xl
}

nav {
    @apply relative left-1/2 -translate-x-1/2 mt-4 overflow-hidden;
    @apply md:w-1/2 w-11/12 flex justify-evenly bg-primary text-base1 font-bold rounded-lg;
}

nav a {
    @apply w-full font-bold;
    @apply text-base1;
}

nav a::selection {
    @apply bg-terciary;
}

footer {
    @apply text-center text-secondary px-4;
    @apply mb-8;
}

footer a {
    @apply underline
}

.index-about {
    @apply relative md:w-3/4 w-11/12 left-1/2 -translate-x-1/2 pb-10;
}
.index-about h1 {
    @apply text-center text-3xl;
}
.my-urls h1 {
    @apply text-center text-3xl;
}
.index-container {
    @apply flex gap-x-4 mx-4;
    @apply max-lg:flex-col;
}

.index-about p {
    @apply text-center;
}

.welcome {
    @apply mt-4 text-center text-lg px-4;
    @apply relative left-1/2 -translate-x-1/2 w-3/4;
}

.welcome h2 {
    @apply text-3xl;
}

.about-outer {
    @apply mt-4;
    @apply pt-2;
    @apply border-primary border-solid;
    @apply bg-base2 rounded-xl;
    @apply lg:w-3/5;
    @apply max-md:w-full;
    overflow-x: hidden;
    @apply border-solid border-2 border-primary;
}

.my-projs {
    /*@apply lg:w-3/5;*/
    @apply flex flex-col;
}
.proj {
    @apply mt-4;
    @apply pt-2;
    @apply border-primary border-solid;
    @apply bg-base2 rounded-xl;
    @apply lg:w-full;
    @apply max-md:w-full;
    @apply px-4 py-2;
    overflow-x: hidden;
    @apply border-solid border-2 border-primary;
}
.home-posts {
    @apply pt-2;
    @apply max-sm:px-0;
    @apply bg-base2 rounded-xl;
    @apply mt-4 text-center;
    @apply lg:w-2/5;
    @apply max-md:w-full relative;
    @apply border-solid border-2 border-terciary;
    overflow-x: hidden;
}

.my-urls {
    @apply pt-2;
    @apply max-sm:px-0;
    @apply bg-base2 rounded-xl;
    @apply mt-4 text-center;
    /*@apply lg:w-1/2;*/
    @apply max-h-fit;
    @apply max-md:w-full relative;
    @apply border-solid border-2 border-terciary;
    overflow-x: hidden;
}

.proj-head {
    @apply text-center;
}

details summary {
    @apply bg-base1 text-secondary;
    @apply p-1;
    @apply rounded-md;
}

details img {
    @apply object-contain;
    @apply object-center;
    @apply max-h-64;
    @apply w-full;
    @apply mb-4;
}

details {
    @apply bg-base1;
    @apply mb-2;
    @apply px-4;
    @apply w-full;
}

.home-posts a {
    @apply bg-terciary text-base1;
    @apply p-0.5 rounded-md;
}

.home-posts h2 {
    @apply text-3xl;
}

.proj h1 {
    @apply text-3xl;
}

h1 span {
    @apply text-terciary
}

.header {
    @apply text-secondary mb-12;
}

article {
    @apply relative -translate-x-1/2 left-1/2 md:w-3/4 w-11/12 mt-8;
}

article .title {
    @apply text-5xl;
}

article .body {
    @apply md:text-justify text-lg;
    @apply select-text;
}

article .body p {
    @apply mb-4;
}
article .body ul{
    @apply list-disc;
    @apply ml-4;
    @apply mb-4;
}
article .body li{
    @apply list-disc;
    @apply -mb-2;
}

article .body h1 {
    @apply text-center;
    @apply text-3xl underline underline-offset-4;
    @apply mb-4;
}
article .body h2 {
    @apply ml-2;
    @apply text-2xl;
    @apply mb-4;
}

article .body h3 {
    @apply ml-4;
    @apply text-xl;
    @apply mb-4;
}

article .body pre {
    @apply border-t-2 border-t-base3 border-solid;
    @apply bg-base2 px-3;
    @apply rounded-lg;
    @apply leading-6;
    @apply py-3;
    @apply mb-4;
    overflow-x: auto;
}

.dt {
    @apply text-blue-300;
}

.op {
    @apply text-orange-300;
}

.bu {
    @apply text-pink-300;
}

.st {
    @apply text-orange-300;
}

.sc {
    @apply text-yellow-300;
}

.kw {
    @apply text-blue-300;
}

.dv {
    @apply text-yellow-300;
}

.cf {
    @apply text-pink-300;
}

.pp {
    @apply text-blue-300;
}

.im {
    @apply text-orange-300;
}

.co {
    @apply text-green-300;
}

article .body code {
    overflow-x: scroll;
    @apply bg-base2 px-3;
    @apply rounded-lg;
    @apply leading-6;
    @apply py-1;
    white-space: pre;
    overflow-x: auto;
}
article sourceCode span {
    
}

article .body blockquote {
    @apply border-l-4 border-base3 pl-2 mb-4;
}
article .body blockquote p {
    @apply mb-0;
}

article .body img {
    @apply object-center;
    @apply object-contain;
    @apply w-full;
    @apply max-h-64;
    @apply bg-base2;
}

article .body figure {
    @apply mb-4;
    @apply border-t-2 border-t-base3 border-solid rounded-lg;
    @apply overflow-hidden;
}

article .body figcaption {
    @apply bg-base2;
    @apply pl-1;
    @apply border-base1 border-t-2 border-solid;
}

article .body table {
    @apply border-t-2 border-t-base3 border-solid rounded-lg;
    @apply bg-base3;
    @apply overflow-hidden;
    @apply mb-4;
    @apply relative w-full text-center -translate-x-1/2 left-1/2;
    text-align: center;
}


article .body tbody tr {
    @apply bg-base1;
    @apply px-2;
}
article .body tbody tr:nth-child(even) {
    @apply bg-base2;
}

.list-post {
    @apply mb-4;
}
.list-post a {
    @apply relative text-lg w-fit;
}

.post-list {
    @apply relative w-full text-center -translate-x-1/2 left-1/2;
}

.center {
    @apply w-full text-center text-secondary font-bold text-lg my-4;
}

.contact {
    @apply mx-11 list-disc;
    @apply lg:mx-64;
    /*@apply lg:flex lg:gap-4;*/
}